*
{
  font-family: var(--font);
}
*::selection
{
  background-color: var(--identity);
  color: #fff;
}
html,body
{
  font-family: var(--font);
  scroll-behavior: smooth;
}
body::-moz-selection {
  background-color: #fff;
  color: var(--identity);
}

body::selection 
{
  background-color: #fff;
  color: var(--identity);
}
body::-webkit-scrollbar 
{
  background-color: var(--color);
  border-radius: 50px;
  width: 2px;
  padding: 3em;
  z-index: 1;
}
body::-webkit-scrollbar-corner 
{
  background-color: #fff;
  border-radius: 100vw;
  width: 0.5px;
  z-index: 1;
}
body::-webkit-scrollbar-button 
{
  display: none;
  border-radius: 2px;
  z-index: 1;
}
body::-webkit-scrollbar-thumb 
{
  background-color: var(--green) !important;
  border-radius: 5px;
  width: 0.3px;
  padding: 5em;
  border: 0.25em solid transparent;
  z-index: 1;
}
body::-webkit-scrollbar-thumb 
{
  background-color: var(--identity) !important;
  border-radius: 2px;
  width: 0.2px;
  padding: 5em;
  border: 0.18em solid var(--white);
  z-index: 999;
}

.load 
{
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s ease-in 0.9s;
}
.load .loader img 
{
  animation: zoomIn 1s;
}

header
{
  
  background-color: transparent;
}
nav #calling
{
  animation: flip 1.5s linear infinite;
}
nav #link a
{
  color: var(--black);
  transition: var(--t);
}
nav #link a:hover
{
  color: var(--identity);
}

/* Pricing */
#p1, #p3{transition: var(--t);}
#p1:hover,
#p3:hover
{
  border: 1px solid var(--identity-hover);
  opacity: 0.8;
  transform: translateY(-5px);
  transition: var(--t);
}

#banner
{
  background: radial-gradient(circle at 50% 120%, #3a3a7a, rgb(240, 240, 240) 50%);
  height: 600px;
}